{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}ЗАБЫЛЬ ПАРОЛЬ{% endblock title %}
{% block content %}
    <h1 style="text-align: center" class="text-warning">Забыли пароль?</h1>
    <p style="text-align: center" class="text-warning">Введите новый пароль два раза!</p>
    <form style="margin: 35%" class="text-warning" method="post">{% csrf_token %}
        {{ form|crispy }}
        <input style="margin: 1%" class="btn btn-warning" type="submit" value="Изменить">
    </form>
{% endblock content %}
